@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #87878c;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #87878c;
  }
}
